# PostgreSQL
POSTGRES_DB=petshop_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

# Exposed ports on host
BACKEND_PORT=8081
FRONTEND_PORT=5173

# Backend
DB_URL=jdbc:postgresql://db:5432/petshop_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=bXlfc3VwZXJfc2VjcmV0X2tleV9mb3JfcGV0c2hvcF9hcGlfZm9yX3VuaXZlcnNpdHlfcHJvamVjdF8xMjM0NTY=
JWT_EXPIRATION_MS=86400000

# PayPal
PAYPAL_CLIENT_ID=Aap4YuGsATPGW-e1j2mSbxX--4A2rq6AngRz8J3oJC2ZRAjSCLESdLVAN-l-q3x3f44vMyCV3rCZuux4
PAYPAL_CLIENT_SECRET=EKrNUthI_SEd2VPsMtKychgpji5q4xMyAOOCrbDbX5DVh2x7uQQ-JJagW1a4GjM-4YLRFGRVJjMKXL9X

#Tiempo esperado para que se cierre la sesión en milisegundos   
VITE_INACTIVITY_TIMEOUT_MS=300000
VITE_INACTIVITY_WARNING_MS=150000